:root {
  /* -------- Hex Colors ------- */
  --blue-6: #1890ff;
  --purple-6: #722ed1;
  --cyan-6: #13c2c2;
  --green-6: #52c41a;
  --magenta-6: #eb2f96;
  --pink-6: #eb2f96;
  --red-6: #f5222d;
  --orange-6: #fa8c16;
  --yellow-6: #fadb14;
  --volcano-6: #fa541c;
  --geekblue-6: #2f54eb;
  --lime-6: #a0d911;
  --gold-6: #faad14;

  /* -------- Colors ----------- */
  --primary-color: var(--blue-6);
  --info-color: var(--blue-6);
  --success-color: var(--green-6);
  --processing-color: var(--primary-color);
  --error-color: var(--red-6);
  --highlight-color: var(--red-6);
  --warning-color: var(--gold-6);
  --normal-color: #d9d9d9;

  /* --------- Primary Colors -----*/
  /* Color used by default to control hover and active backgrounds and for
   * alert info backgrounds.
   */
  --primary-1: color(var(--primary-color) tint(90%));
  --primary-2: color(var(--primary-color) tint(80%));
  --primary-3: color(var(--primary-color) tint(70%));
  --primary-4: color(var(--primary-color) tint(60%));
  --primary-5: color(
    var(--primary-color) tint(20%)
  ); /* color used to control the text color in many active and hover states,*/
  --primary-6: var(
    --primary-color
  ); /* color used to control the text color of active buttons, don't use, use --primary-color */
  --primary-7: color(var(--primary-color) tint(5%));

  /* Media queries breakpoints */
  /* Extra small screen / phone */
  @custom-media --screen-xs (width: 480px);
  @custom-media --screen-xs-min (width >= 480px);
  @custom-media --screen-xs-max (width < 480px);

  /* Small screen / tablet */
  @custom-media --screen-sm (width: 576px);
  @custom-media --screen-sm-min (width >= 576px);
  @custom-media --screen-sm-max (width < 576px);

  /* Medium screen / desktop */
  @custom-media --screen-md (width: 768px);
  @custom-media --screen-md-min (width >= 768px);
  @custom-media --screen-md-max;

  /* Large screen / wide desktop */
  @custom-media --screen-lg (width: 992px);
  @custom-media --screen-lg-min (width >= 992px);
  @custom-media --screen-lg-max (width < 992px);

  /* Extra large screen / full hd */
  @custom-media --screen-xl (width: 1200px);
  @custom-media --screen-xl-min (width >= 1200px);
  @custom-media --screen-xl-max (width < 1200px);

  /* Extra extra large screen / large descktop */
  @custom-media --screen-xxl (width 1600px);
  @custom-media --screen-xxl-min (width >= 1600px);

  /* Grid system */
  --grid-columns: 24;
  --grid-gutter-width: 0;

  /* Background color for `<body>` */
  --body-background: #fff;
  /* Base background color for most components */
  --component-background: #fff;
  --font-family-no-number: "Chinese Quote", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family: "Monospaced Number", var(--font-family-no-number);
  --code-family: Consolas, Menlo, Courier, monospace;
  --heading-color: color(#000 a(85%));
  --text-color: color(#000 a(65%));
  --text-color-secondary: color(#000 a(45%));
  --heading-color-dark: color(#fff a(100%));
  --text-color-dark: color(#fff a(85%));
  --text-color-secondary-dark: color(#fff a(65%));
  --font-size-base: 14px;
  --font-size-lg: var(--font-size-base) + 2px;
  --font-size-sm: 12px;
  --line-height-base: 1.5;
  --border-radius-base: 4px;
  --border-radius-sm: 2px;

  /* vertical paddings */
  --padding-lg: 24px; /* containers */
  --padding-md: 16px; /* small containers and buttons */
  --padding-sm: 12px; /* Form controls and items */
  --padding-xs: 8px; /* small items */

  /* vertical padding for all form controls */
  --control-padding-horizontal: var(--padding-sm);
  --control-padding-horizontal-sm: var(--padding-xs);

  /* The background colors for active and hover states for things like list items or table cells. */
  --item-active-bg: #fafafa;
  --item-hover-bg: #fafafa;

  /* LINK */
  --link-color: var(--primary-color);
  --link-hover-color: var(--primary-5);
  --link-active-color: var(--primary-7);
  --link-decoration: none;
  --link-hover-decoration: none;

  /* Animation */
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
  --ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  --ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

  /* Border color */
  --border-color-base: hsl(0, 0%, 85%); /* base border outline a component */
  --border-color-split: hsl(0, 0%, 91%); /* split border inside a component */
  --border-width-base: 1px; /* width of the border for a component */
  --border-style-base: solid; /* style of a components border */

  /* Outline */
  --outline-blur-size: 0;
  --outline-width: 2px;
  --outline-color: var(--primary-color);

  --background-color-light: hsl(
    0,
    0%,
    98%
  ); /* background of header and selected item */
  --background-color-base: hsl(0, 0%, 96%); /* Default grey background color */

  /* Disabled states */
  --disabled-color: color(#000 a(25%));
  --disabled-bg: var(--background-color-base);
  --disabled-color-dark: color(#fff a(35%));

  /* Shadow */
  --shadow-color: rgba(0, 0, 0, 0.15);
  --box-shadow-base: var(--shadow-1-down);
  --shadow-1-up: 0 2px 8px var(--shadow-color);
  --shadow-1-down: 0 2px 8px var(--shadow-color);
  --shadow-1-left: -2px 0 8px var(--shadow-color);
  --shadow-1-right: 2px 0 8px var(--shadow-color);
  --shadow-2: 0 4px 12px var(--shadow-color);

  /* Buttons */
  --btn-font-weight: 400;
  --btn-border-radius-base: var(--border-radius-base);
  --btn-border-radius-sm: var(--border-radius-base);

  --btn-primary-color: #fff;
  --btn-primary-bg: var(--primary-color);

  --btn-default-color: var(--text-color);
  --btn-default-bg: #fff;
  --btn-default-border: var(--border-color-base);

  --btn-danger-color: var(--error-color);
  --btn-danger-bg: var(--background-color-base);
  --btn-danger-border: var(--border-color-base);

  --btn-disable-color: var(--disabled-color);
  --btn-disable-bg: var(--disabled-bg);
  --btn-disable-border: var(--border-color-base);

  --btn-padding-base: 0 var(--padding-md) - 1px;
  --btn-font-size-lg: var(--font-size-lg);
  --btn-font-size-sm: var(--font-size-base);
  --btn-padding-lg: var(--btn-padding-base);
  --btn-padding-sm: 0 var(--padding-xs) - 1px;

  --btn-height-base: 32px;
  --btn-height-lg: 40px;
  --btn-height-sm: 24px;

  --btn-circle-size: var(--btn-height-base);
  --btn-circle-size-lg: var(--btn-height-lg);
  --btn-circle-size-sm: var(--btn-height-sm);

  --btn-group-border: var(--primary-5);

  /* Checkbox */
  --checkbox-size: 16px;
  --checkbox-color: var(--primary-color);

  /* Radio */
  --radio-size: 16px;
  --radio-dot-color: var(--primary-color);

  /* Radio buttons */
  --radio-button-bg: var(--btn-default-bg);
  --radio-button-color: var(--btn-default-color);
  --radio-button-hover-color: var(--primary-5);
  --radio-button-active-color: var(--primary-7);

  /* Layout */
  --layout-body-background: #f0f2f5;
  --layout-header-background: #001529;
  --layout-footer-background: var(--layout-body-background);
  --layout-header-height: 64px;
  --layout-header-padding: 0 50px;
  --layout-footer-padding: 24px 50px;
  --layout-sider-background: var(--layout-header-background);
  --layout-trigger-height: 48px;
  --layout-trigger-background: #002140;
  --layout-trigger-color: #fff;
  --layout-zero-trigger-width: 36px;
  --layout-zero-trigger-height: 42px;

  /* z-index list */
  --zindex-affix: 10;
  --zindex-back-top: 10;
  --zindex-modal-mask: 1000;
  --zindex-modal: 1000;
  --zindex-notification: 1010;
  --zindex-message: 1010;
  --zindex-popover: 1030;
  --zindex-picker: 1050;
  --zindex-dropdown: 1050;
  --zindex-tooltip: 1060;

  /* Animation */
  --animation-duration-slow: 0.3s; /* Modal */
  --animation-duration-base: 0.2s;
  --animation-duration-fast: 0.1s; /* Tooltip */

  /* Form */
  --label-required-color: var(--highlight-color);
  --label-color: var(--heading-color);
  --form-item-margin-bottom: 24px;
  --form-item-trailing-colon: true;
  --form-vertical-label-padding: 0 0 8px;
  --form-vertical-label-margin: 0;

  /* Input */
  --input-height-base: 32px;
  --input-height-lg: 40px;
  --input-height-sm: 24px;
  --input-padding-horizontal: var(--control-padding-horizontal) - 1px;
  --input-padding-horizontal-base: var(--input-padding-horizontal);
  --input-padding-horizontal-sm: var(--control-padding-horizontal-sm) - 1px;
  --input-padding-horizontal-lg: var(--input-padding-horizontal);
  --input-padding-vertical-base: 4px;
  --input-padding-vertical-sm: 1px;
  --input-padding-vertical-lg: 6px;
  --input-placeholder-color: hsl(0, 0%, 75%);
  --input-color: var(--text-color);
  --input-border-color: var(--border-color-base);
  --input-bg: #fff;
  --input-addon-bg: var(--background-color-light);
  --input-hover-border-color: var(--primary-color);
  --input-disabled-bg: var(--disabled-bg);

  /* Tooltips */
  /** Tooltip max width */
  --tooltip-max-width: 250px;
  /** Tooltip text color */
  --tooltip-color: #fff;
  /** Tooltip background color **/
  --tooltip-bg: rgba(0, 0, 0, 0.75);
  /** Tooltip arrow width **/
  --tooltip-arrow-width: 5px;
  /** Tooltip distance with trigger **/
  --tooltip-distance: var(--tooltip-arrow-width) - 1px + 4px;
  /** Tooltip arrow color **/
  --tooltip-arrow-color: var(--tooltip-bg);

  /* Popovers */
  /** Popover body background color **/
  --popover-bg: #fff;
  /** Popover text color **/
  --popover-color: var(--text-color);
  /** Popover maximum width **/
  --popover-min-width: 177px;
  /** Popover arrow width **/
  --popover-arrow-width: 5px;
  /** Popover arrow color **/
  --popover-arrow-color: var(--popover-bg);
  /** Popover outer arrow width **/
  /** Popover outer arrow color **/
  --popover-arrow-outer-color: var(--popover-bg);
  /** Popover distance with trigger **/
  --popover-distance: var(--popover-arrow-width) + 4px;

  /* Modal */
  --modal-mask-bg: rgba(0, 0, 0, 0.65);

  /* Progress */
  --progress-default-color: var(--processing-color);
  --progress-remaining-color: var(--background-color-base);

  /* Menu */
  --menu-inline-toplevel-item-height: 40px;
  --menu-item-height: 40px;
  --menu-collapsed-width: 80px;
  --menu-bg: var(--component-background);
  --menu-item-color: var(--text-color);
  --menu-highlight-color: var(--primary-color);
  --menu-item-active-bg: var(--item-active-bg);
  --menu-item-group-title-color: var(--text-color-secondary);
  /* dark theme */
  --menu-dark-color: var(--text-color-secondary-dark);
  --menu-dark-bg: var(--layout-header-background);
  --menu-dark-arrow-color: #fff;
  --menu-dark-submenu-bg: #000c17;
  --menu-dark-highlight-color: #fff;
  --menu-dark-item-selected-bg: var(--primary-color);

  /* Spin */
  --spin-dot-size-sm: 14px;
  --spin-dot-size: 20px;
  --spin-dot-size-lg: 32px;

  /* Table */
  --table-header-bg: var(--background-color-light);
  --table-header-sort-bg: var(--background-color-base);
  --table-row-hover-bg: #fafafa;
  --table-selected-row-bg: #fafafa;
  --table-padding-vertical: 16px;
  --table-padding-horizontal: 16px;

  /* Tag */
  --tag-default-bg: var(--background-color-light);
  --tag-default-color: var(--text-color);
  --tag-font-size: var(--font-size-sm);

  /* TimePicker */
  --time-picker-panel-column-width: 56px;
  --time-picker-panel-width: var(--time-picker-panel-column-width) * 3;
  --time-picker-selected-bg: var(--background-color-base);

  /* Carousel */
  --carousel-dot-width: 16px;
  --carousel-dot-height: 3px;
  --carousel-dot-active-width: 24px;

  /* Badge */
  --badge-height: 20px;
  --badge-dot-size: 6px;
  --badge-font-size: var(--font-size-sm);
  --badge-status-size: 6px;

  /* Rate */
  --rate-star-color: var(--yellow-6);
  --rate-star-bg: var(--border-color-split);

  /* Card */
  --card-head-color: var(--heading-color);
  --card-head-background: var(--component-background);
  --card-head-padding: 16px;
  --card-inner-head-padding: 12px;
  --card-padding-base: 24px;
  --card-padding-wider: 32px;
  --card-actions-background: var(--background-color-light);
  --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);

  /* Tabs */
  --tabs-card-head-background: var(--background-color-light);
  --tabs-card-height: 40px;
  --tabs-card-active-color: var(--primary-color);
  --tabs-title-font-size: var(--font-size-base);
  --tabs-ink-bar-bg-color: var(--primary-color);
  --tab-bar-margin: 0 0 16px 0;
  --tab-horizontal-margin: 0 32px 0 0;
  --tab-vertical-margin: 0 0 16px 0;
  --tab-horizontal-padding: 12px 16px;
  --tab-vertical-padding: 8px 24px;
  --tab-scrolling-size: 32px;
  --tab-highlight-color: var(--primary-color);
  --tab-hover-color: var(--primary-5);
  --tab-active-color: var(--primary-7);

  /* BackTop */
  --back-top-color: #fff;
  --back-top-bg: var(--text-color-secondary);
  --back-top-hover-bg: var(--text-color);

  /* Avatar */
  --avatar-size-base: 32px;
  --avatar-size-lg: 40px;
  --avatar-size-sm: 24px;
  --avatar-font-size-base: 18px;
  --avatar-font-size-lg: 24px;
  --avatar-font-size-sm: 14px;
  --avatar-bg: #ccc;
  --avatar-color: #fff;
  --avatar-border-radius: var(--border-radius-base);

  /* Switch */
  --switch-height: 22px;
  --switch-sm-height: 16px;
  --switch-disabled-opacity: 0.4;
  --switch-color: var(--primary-color);

  /* Pagination */
  --pagination-item-size: 32px;
  --pagination-item-size-sm: 24px;

  /* Breadcrumb */
  --breadcrumb-base-color: var(--text-color-secondary);
  --breadcrumb-last-item-color: var(--text-color);
  --breadcrumb-font-size: var(--font-size-base);
  --breadcrumb-icon-font-size: var(--font-size-sm);
  --breadcrumb-link-color: var(--text-color-secondary);
  --breadcrumb-link-color-hover: var(--primary-5);
  --breadcrumb-separator-color: var(--text-color-secondary);
  --breadcrumb-separator-margin: 0 var(--padding-xs);

  /* Slider */
  --slider-margin: 14px 6px 10px;
  --slider-rail-background-color: var(--background-color-base);
  --slider-rail-background-color-hover: #e1e1e1;
  --slider-track-background-color: var(--primary-3);
  --slider-track-background-color-hover: var(--primary-4);
  --slider-handle-color: var(--primary-3);
  --slider-handle-color-hover: var(--primary-4);
  --slider-handle-color-focus: color(var(--primary-color) tint(20%));
  --slider-handle-color-focus-shadow: color(var(--primary-color) tint(50%));
  --slider-handle-color-tooltip-open: var(--primary-color);
  --slider-dot-border-color: var(--border-color-split);
  --slider-dot-border-color-active: color(var(--primary-color) tint(50%));
  --slider-disabled-color: var(--disabled-color);
  --slider-disabled-background-color: var(--component-background);
}
